@media only print {
	.page-node-sirius-log-auth .tool-button { display: none; }
}

div.sirius_ledger_auth_accounts {
	float: left;
	width: 50%;
}

div.sirius_ledger_auth_events {
	float: left;
	width: 50%;
}

.sirius_ledger_auth_accounts_events_wrapper:after {
  content: "";
  display: table;
  clear: both;
}

