.sirius_ledger_transmittal_rates {
}

table.sirius_ledger_transmittal, 
table.sirius_ledger_transmittal tr, 
sirius_ledger_transmittal.th, 
sirius_ledger_transmittal.td {
	border: none;
}

.sirius_transmittal_autofill, .sirius_transmittal_autofill_all {
	padding: 5px;
	margin-right: 5px;
	border: 1px solid #1b4784;
}