.sirius-form-error {
	padding: 10px;
	margin: 10px;
	border: 1px solid #993333;
}

.sirius_form_addone_deleteweight_prefix {
	font-size: 75%;
	border-top:  1px solid #999999;
}

.sirius_form_addone_deleteweight_prefix .form-item {
	float: left;
	display: inline-block;
	padding-right: 10px;
}

.sirius_form_addone_deleteweight_prefix .form-item label {
	float: left;
	display: inline-block;
	padding-right: 10px;
}

.sirius_form_inline label {
	float: left;
	display: inline-block;
	width: 100px;
	font-weight: bold;
}

.sirius_form_inline .form-item {
	clear: left;
}

.sirius_form_inline .container-inline-date .form-item .form-item {
	clear: none;
}

.sirius_form_inline_field_collection .form-item {
	float: left;
	margin-right: 10px;
}

.sirius_form_weight_indicator {
	float: right;
	padding-right: 10px;
	font-size: 10px;
}

.sirius_form_weightfield {
	font-size: 70%;
	float: right;
	margin-top: -25px;
	margin-right: -10px;
}

.sirius_form_weightfield input {
	font-size: 100%;
}