/**
 * Layout
 */

table.sirius_table tbody tr:hover td {
	background-color:  transparent;
}

table.sirius_table td, 
table.sirius_table th {
	vertical-align: top;
}

/**
 * Row colors
 */

table.sirius_table tbody tr.inactive td,
table.sirius_table tbody tr.gray td,
table.sirius_table tbody tr.grey td,
table.sirius_table tbody td.inactive,
table.sirius_table tbody td.gray,
table.sirius_table tbody td.grey {
	background-color: #bbbbbb;
}

table.sirius_table tbody tr.warning td,
table.sirius_table tbody td.warning {
	background-color: #ffff99;
}

table.sirius_table tbody tr.red td,
table.sirius_table tbody td.red {
	background-color: #ff9999;
}

table.sirius_table tbody tr.green td,
table.sirius_table tbody td.green {
	background-color: #99ff99;
}

table.sirius_table tbody tr.yellow td,
table.sirius_table tbody td.yellow {
	background-color: #ffff99;
}

table.sirius_table tbody tr.blue td,
table.sirius_table tbody td.blue {
	background-color: #9999ff;
}

table.sirius_table_form td div.form-item {
	margin-top:  0;
	margin-bottom:  0;
}

table.sirius_table td p {
	padding-top: 0;
	margin-top: 0;
}

/**
 * Basic table style
 */

.sirius_table_basic, 
.sirius_table_basic tr,
.sirius_table_basic td,
.sirius_table_basic th {
	border:  1px solid #999999;
}

.sirius_table_basic th {
	border-bottom: 3px solid #aaaaaa;
}

.sirius_table_basic tr,
.sirius_table_basic td,
.sirius_table_basic th {
	padding: 4px;
}
