.sirius-tooltip .sirius-tooltip-content { 
	display: none;
	color:  #ff0000;
}

.sirius-tooltip-content-active {
}

.sirius-tooltip-trigger {
}

.sirius-tooltip-info-icon {
	margin-left:  3px;
	padding:  2px;
	color:  #333333;

	font-size:  170%;
  line-height: 70%;
  display: inline-block;
  vertical-align: middle
}