div#controls {
}

div#controls div {
}

div#controls div#call-controls,
div#controls div#info {
}

div#controls div#info div#output-selection {
  display: none;
}

div#controls div#call-controls div#volume-indicators {
  display: none;
  width: 200px;
  text-align: left;
}

div#controls div#call-controls div#volume-indicators > div {
  display: block;
  height: 20px;
  width: 0;
}

div#controls p.instructions {
  text-align: left;
  margin-bottom: 1em;
}

div#controls div#info #client-name {
}

div#controls button {
}

div#controls button:active {
  position: relative;
  top: 1px;
}

div#controls div#call-controls {
  display: none;
}

div#controls div#call-controls input {
  display: block;
}

div#controls div#call-controls button {
}

div#controls div#call-controls button#button-hangup {
  display: none;
}

div#controls div#log {
  border: 1px solid #686865;
  height: 250px;
  text-align: left;
  padding: 5px;
  margin-top: 5px;
  overflow-y: scroll;
  display: none;
}

