#sirius_browserphone {
  width: 100%;
  margin-bottom: 10px;
}

#sirius_browserphone_volume {
  width: 200px;
  text-align: left;
}

#sirius_browserphone_volume label { 
  width: 80px;
  float: left;
}
#sirius_browserphone_volume > div {
  display: block;
  height: 20px;
  width: 0;
  border: 1px solid #333333;
  margin-left: 80px;
  width: 200px;
}

div#controls div#log {
  border: 1px solid #333333;
  height: 250px;
  text-align: left;
  padding: 5px;
  margin-top: 5px;
  overflow-y: scroll;
  display: none;
}

#sirius_browserphone .ui-state-default, 
#sirius_browserphone .ui-widget-content .ui-state-default, 
#sirius_browserphone .ui-widget-header .ui-state-default {
  border-color: #333333;
}

#sirius_browserphone_number {
  width: 135px;
}

#sirius_browserphone button {
  background-image: none;
  margin: 14px 0;
  background-image: none;
  border: 0;
  outline: none;
  border-radius: initial;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #1b4784;
  color: #ffffff;
  padding: 9px 20px;
  font-size: 14px;
  margin: 9px;
}

#sirius_browserphone_devices {
  width: 135px;
}

#sirius_browserphone .ui-tabs .ui-tabs-panel {
  padding: 10px;
}

#sirius_browserphone_tab_keypad table {
  border: 0;
  width: auto;
}

#sirius_browserphone_tab_keypad tr {
  border: 0;
  padding: 0;
  margin: 0;
}

#sirius_browserphone_tab_keypad td {
  border: 0;
  padding: 0;
  margin: 0;
}

#sirius_browserphone .ui-tabs {
  padding: 0;
  border: 0;
}

#sirius_browserphone .ui-tabs .ui-tabs-nav {
  border: 0;
}

#sirius_browserphone .ui-tabs .ui-tabs-nav {
  font-size: 12px;
  padding: 0;
}

#sirius_browserphone .ui-widget-header {
  background: none;
}

#sirius_browserphone .ui-tabs .ui-tabs-panel {
  border: 1px solid #333333;
}

#sirius_browserphone .ui-tabs .ui-tabs-nav li {
  margin-right: 8px;
}

#sirius_browserphone .ui-corner-all,
#sirius_browserphone .ui-corner-bottom {
  border-radius: 0;
}