.sirius_edls_crew_name {
	border: 1px solid #000000;
}

.sirius_edls_crew_name {
	font-weight: bold;
}

/*
.sirius_edls_crews {
  column-count: 2;
  column-gap: 10px;
  margin-top: 10px;
}

.sirius_edls_crews::after {
	content: "";
	clear: both;
	display: table;
}

.sirius_edls_crew {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
  border: 1px solid #333333;
  background-color: #ffffff;
  padding: 10px;
}
*/

#content .sirius_edls_crew h2 {
	margin-top: 0;
	padding-top: 0;
}

.sirius_edls_notes_wrap {
  margin-bottom: 10px;
}
.sirius_edls_notes_wrap .sirius_edls_notes {
  display: inline-block;
}

.sirius_edls_page_number {
  font-weight: bold;
  text-align: right;
}

.sirius_edls_page_break {
  page-break-after: always;
}

.sirius_edls_assignment_extra {
  float: right;
  font-size: 85%;
  font-weight: bold;
}

@media print {
  .sirius_edls_crew {
    font-size: 85%;
  }
  #messages { display: none; }

  .sirius_quicknav { display: none; }
}



.sirius_edls_notify_status {
  float: right;
  margin-left: 4px;
}

.sirius_edls_notify_status_long {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
  background-color: #cccccc;
}

.sirius_edls_notify_status_long_details {
  font-weight: normal;
  font-size: 75%;

}

.sirius_edls_notify_status_accepted {
  color: #00aa00;
}

.sirius_edls_notify_status_declined {
  color: #aa0000;
}
 
.sirius_edls_notify_status_error {
  color: #aa0000;
}
 
.sirius_edls_notify_status_queue {
  color: #999999;
}

.sirius_edls_notify_status_reserved {
  color: #0000aa;
}

.sirius_edls_supervisor,
.sirius_edls_supervisor a,
.sirius_edls_supervisor a:link,
.sirius_edls_supervisor a:visited {
  color: #1b4784;
}
  

.sirius_edls_assignee,
.sirius_edls_assignee a,
.sirius_edls_assignee a:link,
.sirius_edls_assignee a:visited {
  color: #aa0000;
}