.unite_child_relationships {
	padding:  10px;
	margin:  10px;
	border:  1px solid #999999;
}

.unite-node-subform div.form-item {
	margin: 0;
}

.unite-node-subform fieldset.date-combo .container-inline-date > .form-item {
	margin:  0;
}

.unite-node-subform label,
.unite-node-subform span.fieldset-legend {
	margin-top:  10px;
	margin-bottom:  2px;
}

.unite-node-subform span.fieldset-legend {
	display:  block;
}


.unite-node-subform legend,
.unite-node-subform .field-widget-date-popup legend {
	margin:  0;
}

.unite-node-subform .field-type-text-long {
	white-space: normal;
}


#content .unite_home_block {
	padding:  25px;
}

#content .unite_home_block h2 {
	padding-top:  0;
}

#content .unite_home_col {
	float:  left;
	width:  40%;
}

#content .unite_home_col_left {
	/* padding-right:  25px; */
}

a.hotelsdb_last_verified_modal_link {
	display: inline-block;
	width: 150px;
	padding:  2px;
}

a.hotelsdb_last_verified_green, 
a.hotelsdb_last_verified_green:link, 
a.hotelsdb_last_verified_green:visited {
	color:  #006600;
	background-color: #99ff99;
	border:  1px solid #003300;
}

a.hotelsdb_last_verified_blue, 
a.hotelsdb_last_verified_blue:link, 
a.hotelsdb_last_verified_blue:visited {
	color:  #000066;
	background-color: #9999ff;
	border:  1px solid #000033;
}

a.hotelsdb_last_verified_red, 
a.hotelsdb_last_verified_red:link, 
a.hotelsdb_last_verified_red:visited {
	color:  #660000;
	background-color: #ff9999;
	border:  1px solid #330000;
}