img.banner-logo {
	height: 70px;
	margin-top: -21px;
	margin-right: 16px;
}
.banner-logo-wrapper {
	float: left;
}
.banner-name-wrapper {
	font-family: roboto,arial, helvetica, san-serif;
	font-weight: bold;
	font-size:24px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 32px;
    float: left;
}
.banner-name-wrapper:hover {
	color: #ffffcb;
}
#page-banner {
	padding: 32px 0 0 0;
	height: 60px;
}
#page-banner .container {
    position: relative;
    /* border-bottom: solid 4px #5984be; */
    background: transparent;
}
#page-banner .banner-wrapper {
  margin-left: 36px;
  margin-right: 36px;
}
#page-banner .user-links {
	z-index: 9;
	color: #fff;
	font-size: 14px;
	float: right;
	text-align: right;
	margin-right: 36px;
}
#page-banner .user-links a {
	color: #fff;
}
#page-banner .user-links a:hover {
	color: #ffffcb;
}

#header > .container {
	background-color: #ffffff;
}
#page-title .title-prefix {
	font-weight: 400;
}
#page-footer {
	background-color: #ffffff;
	padding: 14px 0;
	margin: 14px 0 0 0;
}
div.region-help,
div.messages {
	margin: 0 0 28px 0;
	padding: 26px 28px 28px 70px;
	background-color: #ffffff;
	border: 1px solid #5984be;
  	background-position: 25px 25px;
  	color: #1b4784;
  	font-size: 20px;
}
div#block-system-help,
div.region-help div,
div.messages div {
	background-color: #ffffff;
}
div.region-help {
	margin: 0 36px 28px 36px;
}
.banner {
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	color: #ffffff;
}

#block-block-2,
.banner-wrapper {
}

.banner-wrapper .inner {
	/*
  margin-left: 36px;
  margin-right: 36px;
  */
  margin: 0;
  padding: 0;
}

.banner-menu-outer-wrapper {
    background-color: #ffffff;
    min-height: 16px;
}

#block-grievance-grievance-quicksearch,
#block-grievance-grievance-quicksearch-sub {
	position: absolute;
	right: 0;
	z-index: 100;
}
#grievance-quicksearch-form,
#grievance-quicksearch-sub-form {
}
#grievance-quicksearch-form label,
#grievance-quicksearch-sub-form label {
	display: none;
}
#grievance-quicksearch-form .form-submit,
#grievance-quicksearch-sub-form .form-submit {
	margin-right: 0;
}
#grievance-quicksearch-form div.form-item,
#grievance-quicksearch-sub-form div.form-item {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}
#block-grievance-grievance-quicksearch #autocomplete {
	left: -210px !important;
	width: 420px !important;
}

/* client-specific settings */
#page-banner {
    /*
    background-color: #1b4784; 
    background-color: #000000;
    border-bottom: 10px solid #fdb82f;
    border-bottom: 10px solid #ff0000; 
    background-color: #e89a00;
    border-bottom: 0px solid #1b4784;
    */
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    color: #000000;
}

@media only print {
	.banner-name-wrapper {
		font-size:12px;
		color: #000000;
		font-weight: bolt;
		float: none;
		width: 100%;
		text-align: left;
		display: block;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 2px solid #666666;
	}
	img.banner-logo:visited,
	img.banner-logo:active,
	img.banner-logo {
	    height: auto;
	    width: 100px;
	    margin: 0 auto;
	    display: block;
	    border: none;
	}
	.banner-wrapper a:visited,
	.banner-wrapper a:active,
	.banner-wrapper a {
	    height: auto;
	    margin: 0 auto;
	    display: block;
	    border: none;
	}
	.banner-logo-wrapper {
		float: left;
		max-height: 100px;
		text-align: center;
		display: block; 
		display: none;
	}
	#page-banner {
		height: auto;
		border-bottom: none;
		padding: 22px 0 0 0;
	    background-color: #ffffff !important;
	    border-bottom: none !important;
	    color: #000000 !important;
	}
	#header h1 {
	    color: #000000;
	    font-size: 28px;
	    font-weight: 300;
	    margin: 0px;
	}
	#header {
	    margin: 0;
	    padding: 0;
	}
	#toolbar {
		display: none;
	}
	body.toolbar-drawer {
    	padding-top: 0px !important;
	}
	fieldset legend, 
	fieldset legend a, 
	fieldset legend a:link, 
	fieldset legend a:visited {
	    color: #000000;
	    font-weight: bold;
	    text-transform: none;
	    letter-spacing: 0;
	    background-color: #ffffff;
		border-bottom: 1px dotted #000000;
		border-top: 1px dotted #000000;
		padding-left: 0;
	}
	fieldset {
		margin: 15px 0;
		background-color: #ffffff;
	}
	.fieldset-wrapper {
    	padding-left: 0;
	}
	.banner-menu-outer-wrapper {
		display: none;
	}
	.view-grievance-log table {
	    border: none !important;
	}

}

@media only screen and (max-width:767px) {
	#block-grievance-grievance-quicksearch, #block-grievance-grievance-quicksearch-sub {
	    position: static;
	    margin-bottom: 24px;
	}
}
@media only screen and (max-width:579px) {
  .banner-name-wrapper {
		font-weight: normal;
		font-size: 20px;
		color: #000000;
		letter-spacing: 1px;
		margin-bottom: 12px;
  }
}

