img.banner-logo {
	height: 70px;
	width: 55px;
}
.banner-logo {
	margin-top: 11px;
}
.banner-name-wrapper {
	font-family: roboto,arial, helvetica, san-serif;
	font-weight: bold;
	font-size:24px;
	position: absolute;
    top: 30px;
    left: 100px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.banner-name-wrapper:hover {
	color: #ffffcb;
}
#page-banner {
    background: #1b4784;
    background-image: url('/sites/default/files/adaptivetheme/at_sirius_files/blue-white-banner-bg.png');
    background-repeat: repeat-x;
}
#page-banner .container {
    position: relative;
    /* border-bottom: solid 4px #5984be; */
    background: #ffffff;
}
#page-banner .user-links {
	position: absolute;
	right: 36px;
	top: 20px;
	z-index: 9;
	background: transparent;
	color: #fff;
	font-size: 14px;
}
#page-banner .user-links a {
	color: #fff;
}
#page-banner .user-links a:hover {
	color: #ffffcb;
}

#header > .container {
	background-color: #ffffff;
}
#page-title .title-prefix {
	font-weight: 400;
}


#page-footer {
	background-color: #ffffff;
	padding: 14px 0;
	margin: 14px 0 0 0;
}
div.region-help,
div.messages {
	margin: 0 0 28px 0;
	padding: 26px 28px 28px 70px;
	background-color: #ffffff;
	border: 1px solid #5984be;
  	background-position: 25px 25px;
  	color: #1b4784;
  	font-size: 20px;
}
div#block-system-help,
div.region-help div,
div.messages div {
	background-color: #ffffff;
}
div.region-help {
	margin: 0 36px 28px 36px;
}