.sirius_event_catalog_intro, .sirius_event_catalog_outro {
	/*
	padding-left: 10px;
	right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #cccccc;
	*/
}

.sirius_accordion_label_extra {
	float: right;
	padding-right: 10px;
	color:  #888;
}

.sirius_event_catalog_no_courses_found {
	font-style:  italic;
	color:  #990000;
}

.sirius_event_catalog_intereslist_wrapper {
	font-style:  italic;
	padding-top:  10px;
}

.sirius_event_catalog_intereslist_wrapper a {
	margin:  10px;
	font-style: normal;
}