#page-banner,
#header,
#page-footer,
.banner-menu-outer-wrapper,
.primary-local-tasks-wrapper,
.secondary-tasks-wrapper { 
	display: none;
}

#phonebank_wrapper {
	padding-top: 20px;
}

.phonebank-close-button {
	margin-bottom: 10px;
	float: right;
}

#sirius_quicksave_msg {
	font-weight: bold;
}

.sirius_quicksave_active {
	color: #009900;
}

.sirius_quicksave_ready {
	color: #000099;
}

.sirius_quicksave_error {
	color: #990000;
}

#sirius-node-tab-event-phonebank-call-form input.form-submit, 
#sirius-node-tab-event-phonebank-call-form input.form-submit.ajax-processed {
	margin: 0;
	margin-right: 5px;
  background-color: #0f3871;
  color: #ffffff;
	border: 1px solid #5984be;
}

#sirius-node-tab-event-phonebank-call-form input.form-submit:hover {
	background-color: #5984be;
}

#sirius-node-tab-event-phonebank-call-form input.form-submit:disabled {
	background-color: #666666;
}

#sirius_event_phonebank_survey #survey_wrap .description {
	color: #1b4784;
	font-weight: normal;
	font-size: 14px;
}


#sirius_event_phonebank_survey #survey_wrap fieldset {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	padding-left: 15px;
	border-top: 1px solid #333333;
	margin-top: 10px;
	margin-bottom: 20px;
}

#sirius_event_phonebank_survey #survey_wrap fieldset legend {
	color: #333333;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	padding-left: 2px;
	padding-right: 2px;
}

#sirius_event_phonebank_survey #survey_wrap fieldset .fieldset-wrapper {
	padding: 0;
	margin: 0;
	padding-left: 2px;
}

#sirius_event_phonebank_survey #survey_wrap div.form-item {
	margin-top: 0;
	margin-bottom: 0;
}

#sirius_event_phonebank_survey #survey_wrap div.form-type-date-popup,
#sirius_event_phonebank_survey #survey_wrap div.form-type-textarea,
#sirius_event_phonebank_survey #survey_wrap div.form-type-radios,
#sirius_event_phonebank_survey #survey_wrap div.form-type-textfield,
#sirius_event_phonebank_survey #survey_wrap div.form-type-select,
#sirius_event_phonebank_survey #survey_wrap div.form-type-checkboxes {
	margin-top: 10px;
}

#sirius_event_phonebank_survey #survey_wrap div.form-type-date-popup div.form-item {
	margin-top: 0;
}


#sirius_event_phonebank_survey #survey_wrap .prefix, 
#sirius_event_phonebank_survey #survey_wrap .suffix,
#sirius_event_phonebank_survey #survey_wrap div.form-type-item {
	background-color: #eeeeee;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

#sirius_event_phonebank_survey #survey_wrap .description p,
#sirius_event_phonebank_survey #survey_wrap .prefix p,
#sirius_event_phonebank_survey #survey_wrap .suffix p,
#sirius_event_phonebank_survey #survey_wrap div.form-type-item p {
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

#sirius_event_phonebank_survey #survey_wrap .description p:last-child,
#sirius_event_phonebank_survey #survey_wrap .prefix p:last-child,
#sirius_event_phonebank_survey #survey_wrap .suffix p:last-child,
#sirius_event_phonebank_survey #survey_wrap div.form-type-item p:last-child {
	padding-bottom: 0;
}

#sirius_event_phonebank_survey #survey_wrap .suffix:after {
	content: '';
  position: absolute;
  top: 0px;
  right: 100px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #eeeeee;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}

#sirius_event_phonebank_survey #survey_wrap .prefix:after {
	content: '';
  position: absolute;
  bottom: -10px;
  right: 100px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #eeeeee;
  border-bottom: 0;
  margin-left: -10px;
  margin-top: -10px;
}

#sirius_event_phonebank_survey #survey_wrap .form-item .title_wrap {
	font-weight: bold;
}

#sirius_event_phonebank_survey #survey_wrap .sirius_ckstyles_script_instructions {
  margin-left: 25px;
  /* font-family: Consolas, Monaco, "Courier New", Courier, monospace; */
  position: relative;
}
#sirius_event_phonebank_survey #survey_wrap .sirius_ckstyles_script_instructions:before {
	/* content: '\2192'; */
	content: '\1f82e';
	font-weight: bold;
	position: absolute;
	left: -27px;
	top: -0.4em;
	font-size: 175%;
	color: #cc3333;
}

.sirius_ckstyles_script_readaloud {
  /* color: #1b4784; */
}

#sirius_event_phonebank_survey .instructions_toggle_wrap {
	margin-top: 10px;
}

.sirius_fullpage #main-content #content {
	margin-top: 10px;
}

#sirius_event_phonebank_survey .columns_table,
#sirius_event_phonebank_survey .columns_table tr,
#sirius_event_phonebank_survey .columns_table td {
	border: 1px solid #5984be;
}

#sirius_event_phonebank_survey .columns_table td {
	padding: 10px;
}


#sirius_event_phonebank_survey #survey_wrap,
#sirius_event_phonebank_survey #survey_wrap select {
	font-size: 16px;
}