#page-banner,
#header,
#page-footer,
.banner-menu-outer-wrapper,
.primary-local-tasks-wrapper,
.secondary-tasks-wrapper { 
	display: none;
}

#phonebank_wrapper {
	padding-top: 20px;
}

.phonebank-close-button {
	margin-bottom: 10px;
	float: right;
}
